aiohttp
accelerate==1.4.0
datasets==3.3.2
deepspeed==0.15.4
numpy==1.26.4
pillow==10.4.0
qwen_vl_utils
tqdm
typing_extensions>=4.12.2
pydantic>=2.10.6
pydantic_core>=2.27.2
thinc>=8.2.2              
packaging==24.2
PyYAML==6.0.2
spacy
scipy
safetensors==0.5.3
fastapi
openai==1.65.5
vllm==0.7.3
wandb==0.18.3
pycocotools
tabulate
nltk
matplotlib
